{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<main class="container">
    <form method="post" enctype="multipart/form-data" class="form">
        <h1>Cadastro de Carros</h1> <br>
        {% csrf_token %}

        <div class="campo">
            {{ form.model.label_tag }}
            {{ form.model }}
        </div>
        <br>
        <div class="campo">
            {{ form.brand.label_tag }}
            {{ form.brand }}
        </div>
        <br>
        <div class="campo">
            {{ form.factory_year.label_tag }}
            {{ form.factory_year }}
        </div>
        <br>
        <div class="campo">
            {{ form.model_year.label_tag }}
            {{ form.model_year }}
        </div>
        <br>
        <div class="campo">
            {{ form.value.label_tag }}
            {{ form.value }}
        </div>
        <br>
        <div class="campo">
            {{ form.photo.label_tag }}
            {{ form.photo }}
        </div>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</main>
{% endblock %}